server:
  port: 8082

spring:
  application:
    name: SERVICE-VEHICULE

  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        enabled: true
        register: true
        service-name: SERVICE-VEHICULE
        health-check-path: /actuator/health
        health-check-interval: 10s
        health-check-critical-timeout: 30s
        health-check-timeout: 3s
        prefer-ip-address: true
        instance-id: ${spring.application.name}:${server.port}
        fail-fast: false
        heartbeat:
          enabled: true
          interval: 5s
          ttl: 15s

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/vehiculeservicedb?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: ""
    hikari:
      connection-timeout: 30000
      initialization-fail-timeout: -1

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true


management:
  endpoints:
    web:
      exposure:
        include: health,info
      base-path: /actuator
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  health:
    db:
      enabled: true
    diskspace:
      enabled: true
